TwitterInstantPortrait.yml
app:
  description: ''
  icon: bust_in_silhouette
  icon_background: '#FFEAD5'
  mode: workflow
  name: TwitterInstantPortrait
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: c073c64f-1e60-48c4-b59a-572eb3859a71
    name: rss_hub
    selector:
    - env
    - rss_hub
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1733757676391-source-1733757743582-target
      selected: false
      source: '1733757676391'
      sourceHandle: source
      target: '1733757743582'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1733757743582-source-1733758275386-target
      selected: false
      source: '1733757743582'
      sourceHandle: source
      target: '1733758275386'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1733758275386-true-1733758341919-target
      selected: false
      source: '1733758275386'
      sourceHandle: 'true'
      target: '1733758341919'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: if-else
      id: 1733758341919-source-1733758468081-target
      selected: false
      source: '1733758341919'
      sourceHandle: source
      target: '1733758468081'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1733758275386-false-1733758959100-target
      selected: false
      source: '1733758275386'
      sourceHandle: 'false'
      target: '1733758959100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1733758468081-false-1733758974144-target
      selected: false
      source: '1733758468081'
      sourceHandle: 'false'
      target: '1733758974144'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1733819430217-source-1733819115715-target
      selected: false
      source: '1733819430217'
      sourceHandle: source
      target: '1733819115715'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1733758468081-true-1733821282287-target
      selected: false
      source: '1733758468081'
      sourceHandle: 'true'
      target: '1733821282287'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1733821282287-true-1733821593198-target
      selected: false
      source: '1733821282287'
      sourceHandle: 'true'
      target: '1733821593198'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733821282287-false-1733758916777-target
      selected: false
      source: '1733821282287'
      sourceHandle: 'false'
      target: '1733758916777'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1733821593198-source-1733838335709-target
      selected: false
      source: '1733821593198'
      sourceHandle: source
      target: '1733838335709'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: llm
      id: 1733838335709-source-1733838259392-target
      selected: false
      source: '1733838335709'
      sourceHandle: source
      target: '1733838259392'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1733758916777-source-1733838975870-target
      selected: false
      source: '1733758916777'
      sourceHandle: source
      target: '1733838975870'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: tool
      id: 1733818066449-source-1733758891787-target
      selected: false
      source: '1733818066449'
      sourceHandle: source
      target: '1733758891787'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1733838975870-source-1733819430217-target
      selected: false
      source: '1733838975870'
      sourceHandle: source
      target: '1733819430217'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1733838259392-source-1733839459622-target
      source: '1733838259392'
      sourceHandle: source
      target: '1733839459622'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1733839459622-source-1733838975870-target
      source: '1733839459622'
      sourceHandle: source
      target: '1733838975870'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: if-else
      id: 1733838975870-source-1733884791909-target
      source: '1733838975870'
      sourceHandle: source
      target: '1733884791909'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733884791909-true-1733818066449-target
      source: '1733884791909'
      sourceHandle: 'true'
      target: '1733818066449'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1733884791909-82c33288-6c05-4666-b85f-10b20d308fd5-1733884903656-target
      source: '1733884791909'
      sourceHandle: 82c33288-6c05-4666-b85f-10b20d308fd5
      target: '1733884903656'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1733758891787-source-1733927162877-target
      source: '1733758891787'
      sourceHandle: source
      target: '1733927162877'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1733884489716-source-1733927162877-target
      source: '1733884489716'
      sourceHandle: source
      target: '1733927162877'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: end
      id: 1733927162877-source-1733819115715-target
      source: '1733927162877'
      sourceHandle: source
      target: '1733819115715'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1733884903656-source-1733927513073-target
      source: '1733884903656'
      sourceHandle: source
      target: '1733927513073'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: tool
      id: 1733927513073-source-1733884489716-target
      source: '1733927513073'
      sourceHandle: source
      target: '1733884489716'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: user_id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: user_id
        - label: lang
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: lang
        - label: style
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: style
        - label: avatar
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: avatar
        - label: model
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: model
      height: 194
      id: '1733757676391'
      position:
        x: 78.41553037815004
        y: 282
      positionAbsolute:
        x: 78.41553037815004
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(user_id: str) -> dict:\n    import re\n    # 检查是否只包含大小写字母、数字和下划线\n\
          \    pattern = r'^[a-zA-Z0-9_]+$'\n    if not re.match(pattern, user_id):\n\
          \        return {\n            \"result\": \"wrong_id\"\n        }\n   \
          \ return {\n        \"result\": \"correct_id\"\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1733757676391'
          - user_id
          variable: user_id
      height: 54
      id: '1733757743582'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not contains
            id: 0f9200f9-18d2-4612-b1b6-2ed1f442d343
            value: wrong_id
            varType: string
            variable_selector:
            - '1733757743582'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1733758275386'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: =:null
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: http://{{#env.rss_hub#}}/twitter/user/{{#1733757676391.user_id#}}/exclude_rts
        variables: []
      height: 131
      id: '1733758341919'
      position:
        x: 992
        y: 282
      positionAbsolute:
        x: 992
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: Steven Lynn
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Twitter
          Scraper (RSS Hub)","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1733758348139'
      position:
        x: 992
        y: 149
      positionAbsolute:
        x: 992
        y: 149
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 4c186840-e749-4b5e-87cc-8f204c8ebdc3
            value: '200'
            varType: number
            variable_selector:
            - '1733758341919'
            - status_code
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE HTTP Status
        type: if-else
      height: 126
      id: '1733758468081'
      position:
        x: 1296
        y: 282
      positionAbsolute:
        x: 1296
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: siliconflow
        provider_name: siliconflow
        provider_type: builtin
        selected: true
        title: Flux
        tool_configurations:
          image_size: 1024x1024
          model: schnell
          num_inference_steps: 25
          seed: null
        tool_label: Flux
        tool_name: flux
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#1733818066449.text#}}'
        type: tool
      height: 168
      id: '1733758891787'
      position:
        x: 3389.1240138131116
        y: 258.2403822940356
      positionAbsolute:
        x: 3389.1240138131116
        y: 258.2403822940356
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: llama-3.1-8b-instant
          provider: groq
        prompt_template:
        - id: e409abd7-d0aa-4594-a80b-b7131e82d539
          role: system
          text: '<role>

            You are a criminal investigation expert who can quickly infer the person''s
            gender, age, occupation, psychological state, appearance, and other details
            from limited information available on their social media.

            </role>


            <format>

            You need to write in keyword only.

            Exaple output:

            DEMOGRAPHICS:

            Male, 27-32 years old

            Caucasian/White ethnic background

            Urban residence, likely metropolitan area

            OCCUPATION:

            Mid-level tech professional

            Software developer/IT consultant

            Potential freelance work status

            PSYCHOLOGICAL INDICATORS:

            Moderate social anxiety

            Passive-aggressive communication patterns

            Low emotional intelligence markers

            Potential undiagnosed neurodivergent traits

            Compensatory behavior mechanisms

            BEHAVIORAL RED FLAGS:

            Inconsistent online persona

            Sporadic social media engagement

            Selective information disclosure

            Defensive communication style

            Minimal personal photo presence

            PHYSICAL CHARACTERISTICS:

            Height: 5''10" - 6''1"

            Weight: 160-180 lbs

            Lean/athletic body type

            Possible corrective eyewear

            Conservative personal grooming

            SOCIAL NETWORK ANALYSIS:

            Limited close connections

            Professional network dominates

            Weak familial engagement

            Technical/professional interest groups

            Minimal romantic relationship indicators

            POTENTIAL RISK ASSESSMENT:

            Low physical threat level

            High information manipulation potential

            Indirect confrontation preference

            Intellectual rather than physical aggression

            ADDITIONAL OBSERVATIONAL NOTES:

            Advanced technical skills

            Calculated social interaction approach

            Heightened privacy consciousness

            Strategic personal brand management

            </format>


            <constraint>

            - Do not talk nonsense.

            </constraint>'
        - id: 32fa569d-4c2d-44f1-99b0-09aa7e4564fb
          role: user
          text: '{{#1733758341919.body#}}'
        selected: false
        title: Investigator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1733758916777'
      position:
        x: 1716.970425629363
        y: 258.2403822940356
      positionAbsolute:
        x: 1716.970425629363
        y: 258.2403822940356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1733757743582'
          - result
          variable: err
        selected: false
        title: End
        type: end
      height: 90
      id: '1733758959100'
      position:
        x: 992
        y: 452
      positionAbsolute:
        x: 992
        y: 452
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1733758341919'
          - status_code
          variable: err
        selected: false
        title: End 2
        type: end
      height: 90
      id: '1733758974144'
      position:
        x: 1716.970425629363
        y: 395.2403822940356
      positionAbsolute:
        x: 1716.970425629363
        y: 395.2403822940356
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-8b-exp-0924
          provider: google
        prompt_template:
        - id: 0b49c3e1-f565-472d-9d0c-258364efe5b6
          role: system
          text: '<role>

            You will act as a prompt generator for a Stable Diffusion AI image generator.

            </role>


            <task>

            Your job is to provide detailed and creative descriptions accroding to
            the user''s descriptions of a person. You will inspire unique and interesting
            images from the AI. Keep in mind that the AI is capable of understanding
            a wide range of language and can interpret abstract concepts, so feel
            free to be as imaginative and descriptive as possible.

            </task>


            <style>

            The selected style is :{{#1733757676391.style#}}

            You need to apply the style in your response.


            <format>

            You must provide detailed descriptions with scene and poses added.

            example output:

            A beautiful tanned young woman

            stands in a field with flowers at sunset, wearing only

            a long, thin, semi-transparent lace

            dress that is wide open,unbuttoned, .The light shines

            through the delicate fabric, subtly

            revealing her curves and body. She

            gracefully picks flowers, with the warm,sunset glow ,enhancing her silhouette
            against the golden sky.

            </format>'
        - id: 8a783763-de3e-4b44-adce-9c1034340e5c
          role: user
          text: '{{#1733838975870.output#}}'
        selected: false
        title: Image Composer flux
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1733818066449'
      position:
        x: 2923.2455706435317
        y: 371.25984683340727
      positionAbsolute:
        x: 2923.2455706435317
        y: 371.25984683340727
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1733927162877'
          - output
          variable: img
        - value_selector:
          - '1733819430217'
          - text
          variable: prompt
        selected: false
        title: End 3
        type: end
      height: 116
      id: '1733819115715'
      position:
        x: 4338.9775947512935
        y: 209.90880900614053
      positionAbsolute:
        x: 4338.9775947512935
        y: 209.90880900614053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: moonshot-v1-8k
          provider: moonshot
        prompt_template:
        - id: 96f132bf-555c-495f-9afb-0b62efe09cd6
          role: system
          text: "# Role\nYou are a traslation expert who is experienced in multiple\
            \ languages. \n\n# Task\nYou are going to translate user's input content\
            \ into the following language:{{#1733757676391.lang#}}\n\n# Constraint\n\
            Do not talk nonsense."
        - id: 4f1191c8-93d4-4d27-bd48-c29cbded6b54
          role: user
          text: '{{#1733838975870.output#}}'
        selected: false
        title: Trasnlator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1733819430217'
      position:
        x: 2923.2455706435317
        y: 170.03475784207797
      positionAbsolute:
        x: 2923.2455706435317
        y: 170.03475784207797
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 1f0fbdcb-b41d-44f9-ba2a-6cdefd13939b
            value: 'true'
            varType: string
            variable_selector:
            - '1733757676391'
            - avatar
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE Avatar
        type: if-else
      height: 126
      id: '1733821282287'
      position:
        x: 1716.970425629363
        y: 37.80820838610424
      positionAbsolute:
        x: 1716.970425629363
        y: 37.80820838610424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(body: str) -> dict:\n    pattern = r\"<url>(.*?)</url>\"\
          \n    match = re.search(pattern, body)\n    if match:\n        avatar_url\
          \ = match.group(1)\n        return {\"avatar_url\": avatar_url}\n    return\
          \ {}"
        code_language: python3
        desc: ''
        outputs:
          avatar_url:
            children: null
            type: string
        selected: false
        title: Avatar Extractor
        type: code
        variables:
        - value_selector:
          - '1733758341919'
          - body
          variable: body
      height: 54
      id: '1733821593198'
      position:
        x: 2022.6734717166528
        y: 37.80820838610424
      positionAbsolute:
        x: 2022.6734717166528
        y: 37.80820838610424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-8b-exp-0924
          provider: google
        prompt_template:
        - id: 7acba5d3-c4e2-4fa7-9842-54fe8e0e041b
          role: system
          text: '<role>

            You are a investigation expert who can quickly repeat the keywords of
            an image.

            </role>


            <constraint>

            Do not speak nonsense.

            </constraint>'
        selected: false
        title: Avatar description
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1733838335709'
            - files
          enabled: true
      height: 98
      id: '1733838259392'
      position:
        x: 2644.7484714281027
        y: 37.80820838610424
      positionAbsolute:
        x: 2644.7484714281027
        y: 37.80820838610424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get image
        type: http-request
        url: '{{#1733821593198.avatar_url#}}'
        variables: []
      height: 97
      id: '1733838335709'
      position:
        x: 2326.673471716653
        y: 37.80820838610424
      positionAbsolute:
        x: 2326.673471716653
        y: 37.80820838610424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1733758916777'
          - text
        - - '1733839459622'
          - text
      height: 131
      id: '1733838975870'
      position:
        x: 2155.7824573373173
        y: 258.2403822940356
      positionAbsolute:
        x: 2155.7824573373173
        y: 258.2403822940356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: llama-3.1-8b-instant
          provider: groq
        prompt_template:
        - id: cec92c50-a3a5-4f44-985a-47e284b28230
          role: system
          text: '<role>

            You are a investigation expert who can quickly infer the person''s occupation,
            psychological state, appearance, and other details from limited information
            available on their social media.

            You should also read the description from the user. Follow the gender
            infomation in apperance if gender is different.

            </role>


            <constraint>

            Do not talk nonsense.

            </constraint>'
        - id: dec0996f-0ea8-4273-b621-035a72379543
          role: user
          text: '<social-media>{{#1733758341919.body#}}</social-media>

            <appearance>{{#1733838259392.text#}}</apperance>'
        selected: false
        title: LLM 5
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1733839459622'
      position:
        x: 2932.7094501854062
        y: 37.80820838610424
      positionAbsolute:
        x: 2932.7094501854062
        y: 37.80820838610424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: siliconflow
        provider_name: siliconflow
        provider_type: builtin
        selected: false
        title: Stable Diffusion
        tool_configurations:
          batch_size: 1
          guidance_scale: 7.5
          image_size: 1024x1024
          model: sd_3.5_large
          num_inference_steps: 20
          seed: null
        tool_label: Stable Diffusion
        tool_name: stable_diffusion
        tool_parameters:
          negative_prompt:
            type: mixed
            value: '{{#1733927513073.negative#}}'
          prompt:
            type: mixed
            value: '{{#1733927513073.positive#}}'
        type: tool
      height: 220
      id: '1733884489716'
      position:
        x: 3603.201216856854
        y: 509.60239053584877
      positionAbsolute:
        x: 3603.201216856854
        y: 509.60239053584877
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 7a8c0dce-d46c-478d-9e14-6c80a360a311
            value: flux
            varType: string
            variable_selector:
            - '1733757676391'
            - model
          id: 'true'
          logical_operator: and
        - case_id: 82c33288-6c05-4666-b85f-10b20d308fd5
          conditions:
          - comparison_operator: is
            id: d3fea1c8-be1c-473b-a737-0c88247b397c
            value: SD
            varType: string
            variable_selector:
            - '1733757676391'
            - model
          logical_operator: and
        desc: ''
        selected: false
        title: flux/SD
        type: if-else
      height: 174
      id: '1733884791909'
      position:
        x: 2494.3631524483935
        y: 395.2403822940356
      positionAbsolute:
        x: 2494.3631524483935
        y: 395.2403822940356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-8b-exp-0924
          provider: google
        prompt_template:
        - id: 5f1753df-4280-4d60-81dd-b77d00343847
          role: system
          text: '<role>

            You will act as a prompt generator for a Stable Diffusion AI image generator.

            </role>


            <task>

            Your job is to provide detailed and creative descriptions accroding to
            the user''s descriptions of a person. You will inspire unique and interesting
            images from the AI. Keep in mind that the AI is capable of understanding
            a wide range of language and can interpret abstract concepts, so feel
            free to be as imaginative and descriptive as possible.

            </task>


            <style>

            The selected style is :{{#1733757676391.style#}}

            You need to apply the style in your response.


            <format>

            You must provide detailed descriptions with scene and poses added. You
            need to provide the positive prompt and negative prompt.

            <positive prompt example output>

            A beautiful tanned young woman

            stands in a field with flowers at sunset, wearing only

            a long, thin, semi-transparent lace

            dress that is wide open,unbuttoned, .The light shines

            through the delicate fabric, subtly

            revealing her curves and body. She

            gracefully picks flowers, with the warm,sunset glow ,enhancing her silhouette
            against the golden sky.

            </positive prompt example output>

            <negative prompt example output>

            bad anatomy, signature, watermark, username, error, missing limbs, error

            </negative prompt example output>

            </format>'
        - id: deb2a239-c238-4237-b0ab-ec68f5da7ca1
          role: user
          text: '{{#1733838975870.output#}}'
        selected: false
        title: image composer sd
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1733884903656'
      position:
        x: 2923.2455706435317
        y: 509.60239053584877
      positionAbsolute:
        x: 2923.2455706435317
        y: 509.60239053584877
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: array[file]
        selected: false
        title: Variable Aggregator 2
        type: variable-aggregator
        variables:
        - - '1733758891787'
          - files
        - - '1733884489716'
          - files
      height: 131
      id: '1733927162877'
      position:
        x: 3978.3560330862547
        y: 348.190810357618
      positionAbsolute:
        x: 3978.3560330862547
        y: 348.190810357618
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: moonshot-v1-8k
          provider: moonshot
        parameters:
        - description: positive prompt
          name: positive
          required: false
          type: string
        - description: negative prompt
          name: negative
          required: false
          type: string
        query:
        - '1733884903656'
        - text
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1733927513073'
      position:
        x: 3280.377973915348
        y: 509.60239053584877
      positionAbsolute:
        x: 3280.377973915348
        y: 509.60239053584877
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -1977.2261427460026
      y: -66.6593631778419
      zoom: 0.7234829628080105
